*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
}
#app{
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.main-container{
  margin:100px 150px 70px 150px;
}

img {
  padding-top: 10px;
  width: 100%;
}

.app-content{
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative; 
  padding: 5px;
}

.details{
  position: absolute;
  left: 5;
  bottom: 7px;
}

.user-name{
  background-color:#68737ec6;
}

.fa-microphone-slash{
  background-color: grey;
}

.toolbar{
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
}

.col-4{
  flex-basis: calc((100% / 12)* 4);
  border: 1px solid white;
}

.fa-microphone .fa-video .button{
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.description{
  font-size: 15px;
  padding-right: 8px;
}