*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
}

img{
  max-width: 100%;
  display: block; 
  object-fit: contain;
}

#app{
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: black;
  flex-direction: column;
  color: white;
}


.app-content{
  flex-grow: 1;
  overflow: auto;
  padding: 60px;
}

.webcam {
  position: relative; 
  padding: 5px;
  width: 200px;
}

.webcam-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.details{
  position: absolute;
	padding: 4px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	bottom: 0;
	left: 0;
}

.webcam img {
	display: block;
	aspect-ratio: 16/9;
	object-fit: cover;
	width: 100%;
}

.user-name{
  background-color:#68737ec6;
}

.app-toolbar{
  flex-shrink: 0;
	background-color: #222222;;
	display: flex;
	justify-content: space-between;

}

.toolbar,
.toolbar-item{
  display: flex;
}

.toolbar-item{
  align-items: center;
  gap: 10px;
  padding: 16px 16px;
}

,.toolbar-item > i{
  font-size: 13px;
}

.icon{
  text-align: center;
  font-size: 13px;
}

.icon i{
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}
.page-footer{
  width: 100%;
}

.end-button {
	color: red;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 24px;
}