*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.main-container{
  /* border: 1px solid rgb(255, 255, 255); */
  min-height: 820px;
  margin:70px 150px 70px 150px;
}

img {
  padding-top: 10px;
  width: 100%;
}

.app-content{
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative; 
  padding: 5px;
}

.details{
  position: absolute;
  left: 0;
  bottom: 7px;
}

.user-name{
  color: rgb(255, 255, 255);
  background-color:#68737ec6;
}

.fa-microphone-slash{
  background-color: grey;
}



